---
layout: default
---

<div class="home">

  <img src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt="Logo RailChain" />

  <img src="{{ '/images/konsortium.png' | prepend: site.baseurl }}" alt="Konsortium RailChain: DB Systel GmbH, Siemens AG, Siemens Mobility GmbH, Hasso-Plattner-Institut der Universität Potsdam, Technische Universität Braunschweig, TÜV Rheinland InterTraffic GmbH und Spherity GmbH" />
  <div class="spacer"></div>

  <p>{{ site.description }}</p>

  <h1 class="page-heading">Use-Cases</h1>

  <div class="usecase-col-wrapper">
    <div class="usecase-col">
      <a href="{{ '/asset_identity' | prepend: site.baseurl }}">
        <img src="{{ '/images/fingerprint.png' | prepend: site.baseurl }}" alt="Asset Identity" />
        <h3>Asset Identity</h3>
      </a>
    </div>

    <div class="usecase-col">
      <a href="{{ '/data_logger' | prepend: site.baseurl }}">
        <img src="{{ '/images/report.png' | prepend: site.baseurl }}" alt="Data Logger" />
        <h3>Data Logger</h3>
      </a>
    </div>

    <div class="usecase-col">
      <a href="{{ '/juridical_recorder' | prepend: site.baseurl }}">
        <img src="{{ '/images/recorder.png' | prepend: site.baseurl }}" alt="Juridical Recorder" />
        <h3>Juridical Recorder</h3>
      </a>
    </div>
  </div>
  <div class="spacer" style="font-size: 0.8em; text-align: right">Icon credit: <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/nhor-phai" title="Nhor Phai">Nhor Phai</a> (<a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a>)</div>

  <!--<h2>Neues aus dem Projekt</h2>-->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
